<div
  class="page-container"
  fxLayout
  fxLayoutAlign="center">
  <form
    [formGroup]="form"
    fxLayout="column"
    fxLayoutGap="1rem">
    <mat-form-field>
      <input
        type="text"
        matInput
        formControlName="email"
        placeholder="email">
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        matInput
        formControlName="password"
        placeholder="password">
    </mat-form-field>
    <button
      color="warn"
      mat-raised-button
      (click)="onLogIn()">
      log in
    </button>
  </form>
</div>
