<div class="component-container">
    <div class="dutch"
        *ngIf="(uiStore.language$|async) === 'nl'">

        <h4>Beste klanten,</h4>
        <div class="message">
            <p>
                Wegens de kerst zijn wij op 25 en 26 december gesloten.
            </p>
            <p>
                Op 31 december sluiten wij om 18:00.
            </p>
            <p>
                Op 1 januari zijn wij gesloten.
            </p>
            <!-- <p>
                Vanwege een personeelsuitje is het café op
            </p>
            <h3>maandag 28 augustus</h3>
            <p>gesloten.</p> -->
            <!-- <p>
                Vanwege de feestdagen is ons café gesloten op:
            </p>
            <ul>
                <li>24 december vanaf 18:00</li>
                <li>25 december</li>
                <li>26 december</li>
                <li>31 december vanaf 18:00</li>
                <li><span class="blank-spot">0</span>1 januari</li>
            </ul>
            <p>Prettige feestdagen!</p> -->
        </div>
    </div>
    <div class="english"
        *ngIf="(uiStore.language$|async) === 'en'">

        <h4>Dear customers,</h4>
        <div class="message">

            <p>
                We are closed on December 25 and 26 due to Christmas.
            </p>
            <p>
                On December 31 we close at 6:00 PM.
            </p>
            <p>
                We are closed on January 1.
            </p>











            <!-- <p>Due to a company event, our cafe will be closed on</p> -->
            <!-- <h3>monday, August 28<sup>th</sup>.</h3> -->
            <!-- <p>
                Due to the holidays, our café is closed on:
            </p>
            <ul>
                <li>December 24<sup>th</sup> from 18:00</li>
                <li>December 25<sup>th</sup></li>
                <li>December 26<sup>th</sup> </li>
                <li>December 31<sup>st</sup> from 18:00</li>
                <li>Januari 1<sup>st</sup></li>
            </ul>
        </div>
        <p>Happy holidays!</p> -->
        </div>
    </div>
    <div class="flags">
        <div class="flag-container"
            (click)="languageSelected('nl')">
            <img src="./../../../assets/images/flags/nl-flag.png"
                alt="">
        </div>
        <div class="flag-container"
            (click)="languageSelected('en')">
            <img src="./../../../assets//images//flags/uk-flag.png"
                alt="">
        </div>
    </div>
    <div class="close-window">
        <button mat-mini-fab
            style="background-color: lightgray; color:black"
            (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
