<div class="component-container">
    <div class="dutch"
        *ngIf="(uiStore.language$|async) === 'nl'"
        [innerHTML]="anouncements.anouncementDutch">
    </div>
    <div class="english"
        *ngIf="(uiStore.language$|async) === 'en'"
        [innerHTML]="anouncements.anouncementEnglish">



    </div>
    <div class="flags">
        <div class="flag-container"
            (click)="languageSelected('nl')">
            <img src="./../../../assets/images/flags/nl-flag.png"
                alt="">
        </div>
        <div class="flag-container"
            (click)="languageSelected('en')">
            <img src="./../../../assets//images//flags/uk-flag.png"
                alt="">
        </div>
    </div>
    <div class="close-window">
        <button mat-mini-fab
            style="background-color: lightgray; color:black"
            (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
