<section id="top-page">
  <div class="background-image">
    <div class="banner">
      <p *ngIf="(uiStore.language$|async) === 'nl'" class="banner-header">KEUKEN & DRANKEN</p>
      <p *ngIf="(uiStore.language$|async) === 'en'" class="banner-header">
        KITCHEN & DRINKS
      </p>
      <p *ngIf="(uiStore.language$|async) === 'nl'" class="banner-course-name">Dranken</p>
      <p *ngIf="(uiStore.language$|async) === 'en'" class="banner-course-name">Drinks</p>
      <p *ngIf="(uiStore.language$|async) === 'nl'" class="banner-text-content">
        De keuken is 7 dagen per week geopend.<br />
        Lunch: {{ (openingHoursStore.openingHours$|async).lunch }}<br />
        Diner: {{ (openingHoursStore.openingHours$|async).dinner }}<br />
        Snacks: {{(openingHoursStore.openingHours$|async).snacks }}
      </p>
      <p *ngIf="(uiStore.language$|async) === 'en'" class="banner-text-content">
        Our kitchen is opened 7 days a week.<br />
        Lunch: {{ (openingHoursStore.openingHours$|async).lunch }}<br />
        Diner: {{ (openingHoursStore.openingHours$|async).dinner }}<br />
        Snacks: {{(openingHoursStore.openingHours$|async).snacks }}
      </p>
    </div>
  </div>
</section>

<div class="main-container">
  <button
    *ngIf="authStore.isLoggedIn$|async"
    class="add=beer"
    mat-raised-button
    (click)="onAddBeer()">add beer
  </button>
  <div class="app-beer-container">
    <app-beer
      *ngFor="let beer of beers$|async"
      [beer]="beer">
    </app-beer>
  </div>
</div>
