<div class="page-container" fxLayout="column" fxLayoutAlign="center">
  <div *ngIf="isLoading" class="spinner" fxLayout fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
  </div>

  <div
    [ngStyle]="{visibility: isLoading ? 'hidden' : 'visible'}"
    class="image-container"
    fxLayout fxLayoutAlign="center">
    <img #image
      class="contain" [src]="exhibition.images[index].filePath" alt="" (load)="imageLoading($event)">
  </div>
  <div class="navigation">
    <app-navigation
      (iconSelected)="selectedIcon($event)"
      [imagesLength]="imagesLength"></app-navigation>
  </div>
</div>
