.page-container {
	height: 100%;
	background-color: #ccc;
	.spinner {
		margin-top: 5rem;
	}

	.image-container {
		position: relative;
		width: 100vw;
		// border: 2px solid blue;

		img {
			max-width: 100vw;
			max-height: 100vh;
			// border: 2px solid red;
		}
		img.contain {
			object-fit: contain;
		}
		img.cover {
			object-fit: cover;
		}
		img.scale {
			object-fit: scale-down;
		}
		img.fill {
			object-fit: fill;
		}
	}
}
.animated {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
	0% {
		-webkit-opacity: 1;
		-webkit-background-color: white;
		-webkit-color: black;
	}
	10% {
	}
	50% {
		-webkit-opacity: 1;
	}
	100% {
		-webkit-opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		background-color: white;
		color: black;
	}
	10% {
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

.show-nav {
	color: green;
	font-size: 3rem;
	opacity: 1;
}
