@import "./../../shared/css/banner.scss";

.background-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 60%;
	height: 70vh;

	@media (max-width: 480px) {
		background-image: url("./../../../assets/images/backgrounds/beer-and-bar/bar-en-achter-480.jpg");
	}
	@media (min-width: 481px) and (max-width: 767px) {
		background-image: url("./../../../assets/images/backgrounds/beer-and-bar/bar-en-achter-767.jpg");
	}
	@media (min-width: 768px) and (max-width: 1024px) {
		background-image: url("./../../../assets/images/backgrounds/beer-and-bar/bar-en-achter-1024.jpg");
	}
	@media (min-width: 1025px) {
		background-image: url("./../../../assets/images/backgrounds/beer-and-bar/bar-en-achter-1280.jpg");
	}
}
.page-container {
	background-color: var(--blue);

	.food-component {
		display: block;
		position: -webkit-sticky; /* Safari */
		position: -webkit-sticky;
		position: -moz-sticky;
		position: -o-sticky;
		position: -ms-sticky;
		position: sticky;
		top: 56px;
		// border: 3px solid red;
		@media (min-width: 600px) {
			top: 64px;
		}
		// height: 100px;
		.food-component-content {
			// border: 3px solid red;

			z-index: 1000;
			background-color: pink;
			.admin {
				padding: 0.5rem;
				.header {
					text-transform: uppercase;
					padding: 1rem;
				}
				.show-add-course-button {
					border: 5px solid blue;
				}
			}
			.customer {
				// border: 2px solid green;

				background-color: var(--orange);
				color: var(--blue);
				font-weight: bold;
				text-transform: uppercase;
				padding: 1rem;
				width: 100%;
				border-bottom: 3px solid var(--blue);
				.meal-type_opening-hours {
				}
				.buttons {
					margin-top: 1rem;
					button {
						text-transform: lowercase;
						font-style: italic;
						color: var(--blue);
						background-color: var(--bright-orange);
					}
					.button-active {
						font-size: 1.2rem;
						text-transform: uppercase;
						font-style: normal;
						border: 3px solid var(--blue);
					}
				}
			}
		}
	}
	.child-components {
		.app-course-container {
			width: 100%;
			display: grid;
			grid-column-gap: 1rem;
			// grid-row-gap: 0.5rem;
			@media (min-width: 320px) and (max-width: 480px) {
				grid-template-columns: 1fr;
				// grid-column-gap: 0.5rem;
				// grid-row-gap: 0.5rem;
			}

			@media (min-width: 481px) and (max-width: 767px) {
				grid-template-columns: 1fr;
			}

			@media (min-width: 768px) and (max-width: 1024px) {
				grid-template-columns: 1fr 1fr;
			}

			@media (min-width: 1025px) and (max-width: 1399px) {
				grid-template-columns: 1fr 1fr 1fr;
			}

			@media (min-width: 1400px) {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}
		}
		.app-add-course-container {
			background-color: bisque;
			padding: 1rem;
			width: 310px;
		}
		.app-add-dish-container {
			border: 3px solid green;
			background-color: lightgreen;
			padding: 1rem;
			width: 310px;
		}
	}
}
