<hr>
<div class="main-container">
  <div class="table-number">
    <span>Table</span>&nbsp;{{order.tableNumber}}
  </div>
  <hr>
  <div class="timestamp">
    <span>Ordered at:&nbsp;</span>{{order.timestamp|date:'shortTime'}}
  </div>
  <hr>
  <div class="drinks">
    <div class="drink" *ngFor="let orderedDrink of order.orderedDrinks" fxLayout fxLayoutGap="1rem">
      <div class="amount">{{orderedDrink.amount}}</div>
      <div class="name">{{orderedDrink.drink.name}}</div>
      <div class="name">{{orderedDrink.drink.price|currency:'EUR'}}</div>
    </div>
  </div>
  <div class="beers">
    <div class="beer" *ngFor="let orderedBeer of order.orderedBeers" fxLayout fxLayoutGap="1rem">
      <div class="amount">{{orderedBeer.amount}}</div>
      <div class="name">{{orderedBeer.beer.name}}</div>
      <div class="name">{{orderedBeer.beer.price|currency:'EUR'}}</div>
    </div>
  </div>
  <hr>
  <div class="total">
    <span>Total:&nbsp;</span>{{order.totalPrice|currency:'EUR'}}
  </div>
  <div
    class="window-close"
    fxLayout
    fxLayoutAlign="end"
    mat-dialog-close>
    <span class="fas fa-window-close"></span>
  </div>
</div>
